.item {
  border-radius: 10px;
  display: flex;
  justify-content: start;
  align-items: center;
  /* width: 300px; */

  border-radius: 3%;
  background: linear-gradient(180deg, #2c3036 0%, #0e1114 100%);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25),
    -3px -3px 4px rgba(255, 255, 255, 0.188);
  border-radius: 10px;
  padding: 15px;
  padding-left: 20px;
  border-left: 5px solid transparent;
}
.item:not(:last-child) {
  margin-bottom: 15px;
}
.true {
  border-left-width: 5px;
  border-color: rgb(131, 194, 37);
  box-shadow: rgba(131, 194, 37, 0.5) -8px 0px 5px -5px;
}
.false {
  border-left-width: 5px;
  border-color: rgb(149, 4, 4);
  box-shadow: rgba(149, 4, 4, 0.5) -8px 0px 5px -5px;
}

.status {
  color: aliceblue;
}

.avatar {
  width: 70px;
  height: 70px;
  /* outline: 1px solid purple; */
  color: aliceblue;
  margin-right: 20px;
  border-radius: 5%;

  background: linear-gradient(141.5deg, #2f3235 15.55%, #1f2326 82.24%);
  box-shadow: 4px 4px 7px rgba(0, 0, 0, 0.25),
    -4px -4px 7px rgba(255, 255, 255, 0.116);
}

.name {
  margin: 0;
  color: #c1c2c2;
  font-size: 2em;
}
