.item {
  display: flex;
  width: 5em;
  height: 5em;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.mp3 {
  background-color: #9ea998;
}
.psd {
  background-color: #659ec7;
}
.pdf {
  background-color: #f08080;
}
.docx {
  background-color: #9bbac9;
}
.label {
  font-size: 1em;
}
.percentage {
  font-size: 2em;
}
