.history {
  background-color: #fff;
  font-size: 1.5em;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  border-collapse: collapse;
  color: #202020;
  margin-bottom: 100px;
}

.row:hover {
  /* background-color: #fff; */
  /* filter: saturate(3); */

  /* outline: 3px solid #000; */
  filter: saturate(5) drop-shadow(0 0 0.75rem rgb(78, 78, 78));
}
.invoice {
  background-color: #dde3d6;
  /* filter: saturate(25%); */
}

.payment {
  background-color: #d6dbe5;
  /* filter: saturate(25%); */
}

.withdrawal {
  background-color: #e5d8d7;
  /* filter: saturate(25%); */
}

.deposit {
  background-color: #e6e1da;
  /* filter: saturate(25%); */
}

.head {
  background-color: #121619;
  padding: 10px;
  font-size: 40px;
  color: rgba(255, 255, 255, 0.919);
}
.data {
  padding: 10px;
}
