.statistic {
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-color: #25272b;
  padding: 20px;

  background: linear-gradient(180deg, #2c3036 0%, #0e1114 100%);
  box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.25),
    -3px -3px 4px rgba(255, 255, 255, 0.188);
  border-radius: 10px;
  color: rgba(255, 255, 255, 0.492);
}

.title {
  text-align: center;
  font-size: 3em;
  margin-bottom: 20px;
  color: #fff;
  margin-top: 0;
}

.list {
  margin: 0;
  padding: 0;
  display: flex;
  list-style: none;
}
